*{
    text-align: center;
    margin: 0px;
}
body{
    margin-top: 150px !important;
    background-color: brown;
}

h1 {
    color: white !important;
}

.navbar { 
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    z-index: 3;
}

.contenedorLimite {
    max-width: 50%; 
    margin: 0px auto; 
    padding: 10px 30px; 
    z-index: 1;
    margin-top: 100px;
}


main div {
    padding: 20px;
}

#perritoEspecial {
    position: sticky;
    top: 200px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
}
nav a {
    text-decoration: none;
    color: white
}

#especial {
    align-self: stretch; 
}


.cFlex {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border-radius: 15%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease-in-out;   
}

.card:hover {
    color: white;
    background-color: black;
    transform: scale(1.1);
    transition: all 0.5s ease;    
}

.cFlex div img, .cFlex div p {
    margin: 10px;
}

@media (max-width: 768px){
    body { background-color: blue; }
    .contenedorLimite { max-width: 75%; }
    .card { width: 25%; }
}

@media (max-width: 576px){
    body{
        background-color: yellow;
    }
    .contenedorLimite {
        max-width: 80%;
    }
    .card{
        width: 100%;
    }
}